{{#each errors}}
<div class="aleart alert-danger">{{text}}</div>
{{else}}

{{/each}}
<div class="container">
    <div class="card card-body">
        <div class="center">
            <h3>Edit Video Idea</h3>
        </div>
        <form action="/ideas/{{idea.id}}?_method=PUT" method='post'>
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
                <label for="title">Titel</label>
                <input type="text" class="form-control" name="title" value="{{idea.title}}" required>
            </div>
            <div class="form-group">
                <label for="details">Details</label>
                <textarea class="form-control" name="details" required>{{idea.details}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>